.message__content {
    width: 100%;

    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    .header {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;
    }

    .content {
        width: 100%;
        padding: 0.5rem 0.3rem;
    }
}